extends layout

block content

  h1= title
  
  | <p>View astronomy pictures from Nasa's 
  | <a href="https://apod.nasa.gov/apod/astropix.html">
  | Astronomy picture of the day</a> service </p>
  
  include buttons.jade